<div class="courses">


	<h3>國文</h3>
	<hr>
	<table>
		<tr>
			<td>
				<a href="http://163.26.9.13/noise/e-book-92/bbs.asp"><%= image_tag("elementary/標準字音查詢系統.png", title:"標準字音查詢系統") %></a>
				<p>標準字音查詢系統</p>
			</td>
			<td>
				<a href="http://priori.moe.gov.tw/index.php?mod=resource/index/content/material_ch"><%= image_tag("elementary/國民小學及國民中學補教教學資源平台.png", title:"國民小學及國民中學補教教學資源平台") %></a>
				<p>國民小學及國民中學補教教學資源平台</p>
			</td>
			<td>
				<a href="http://www.nani.com.tw/nani/elearn/"><%= image_tag("elementary/南e國小學習網.png", title:"南e國小學習網") %></a>
				<p>南e國小學習網</p>
			</td>
			<td>
				<a href="http://children.moc.gov.tw/home.php"><%= image_tag("elementary/文化部兒童文化館.png", title:"文化部兒童文化館") %></a>
				<p>文化部兒童文化館</p>
			</td>
			<td>
				<a href="http://flipping-chinese.wikispaces.com"><%= image_tag("elementary/中學國文科學思達教學法平台.png", title:"中學國文科學思達教學法平台") %></a>
				<p>中學國文科學思達教學法平台</p>
			</td>
		</tr>
	</table>



	<h3>數學</h3>
	<hr>
	<table>
		<tr>
			<td>
				<a href="http://www.liveism.com/"><%= image_tag("elementary/Live數學學習網.png", title:"Live數學學習網") %></a>
				<p>Live數學學習網</p>
			</td>
			<td>
				<a href="http://priori.moe.gov.tw/"><%= image_tag("elementary/國民小學及國民中學補救教學資源平台.png", title:"國民小學及國民中學補教教學資源平台" ) %></a>
				<p>國民小學及國民中學補救教學資源平台</p>
			</td>
			<td>
				<a href="http://priori.moe.gov.tw/index.php?mod=resource/index/content/material_math"><%= image_tag("elementary/均一教育平台.png", title:"均一教育平台") %></a>
				<p>均一教育平台</p>
			</td>
			<td>
				<a href="http://www.topmath.org/"><%= image_tag("elementary/小魔流教學資源網.png", title:"小魔流教學資源網") %></a>
				<p>小魔流教學資源網</p>
			</td>
			<td>
				<a href="http://www.mathland.idv.tw/"><%= image_tag("elementary/昌爸工作坊.png", title:"昌爸工作坊") %></a>
				<p>昌爸工作坊</p>
			</td>
		</tr>

		<tr>
			<td>
				<a href="http://www.powercam.cc/ch/1"><%= image_tag("elementary/發現美麗新世界-國中線上教學計畫.png", title:"發現美麗新世界-國中線上教學計畫") %></a>
				<p>發現美麗新世界-國中線上教學計畫</p>
			</td>
		</tr>
	</table>



	<h3>自然</h3>
	<hr>
	<table>
		<tr>
			<td>
				<a href="http://www.bud.org.tw/"><%= image_tag("elementary/科學小芽子.png", title:"科學小芽子") %></a>
				<p>科學小芽子</p>
			</td>
			<td>
				<a href="http://web.pts.org.tw/~web02/nature/"><%= image_tag("elementary/自然公園.png", title:"自然公園") %></a>
				<p>自然公園</p>
			</td>
		</tr>
	</table>



	<h3>英語</h3>
	<hr>
	<table>
		<tr>
			<td>
				<a href="http://bygosh.com/"><%= image_tag("elementary/byGosh.png", title:"Essay Writing 101") %></a>
				<p>byGosh</p>
			</td>
			<td>
				<a href="http://www.elllo.org/"><%= image_tag("elementary/elllo.png", title:"Essay Writing 101") %></a>
				<p>elllo</p>
			</td>
			<td>
				<a href="http://testprep.about.com/od/tipsfortesting/a/How_to_Write_an_Essay.htm"><%= image_tag("elementary/Essay Writing 101.png", title:"Essay Writing 101") %></a>
				<p>Essay Writing 101</p>
			</td>
			<td>
				<a href="http://chloeyachun.blogspot.tw/"><%= image_tag("elementary/lingua franca.png", title:"lingua franca") %></a>
				<p>lingua franca</p>
			</td>
			<td>
				<a href="http://www.storynory.com/"><%= image_tag("elementary/Storynory.png", title:"Storynory") %></a>
				<p>Storynory</p>
			</td>
		</tr>

		<tr>
			<td>
				<a href="http://priori.moe.gov.tw/index.php?mod=resource/index/content/material_en"><%= image_tag("elementary/國民小學及國民中學補救教學資源平台.png", title:"國民小學及國民中學補救教學資源平台") %></a>
				<p>國民小學及國民中學補救教學資源平台</p>
			</td>
			<td>
				<a href="http://som.twbbs.org/klee/notebook/"><%= image_tag("elementary/小笨霖的英語筆記本全集.png", title:"小笨霖的英語筆記本全集") %></a>
				<p>小笨霖的英語筆記本全集</p>
			</td>
			<td>
				<a href="http://www.hopenglish.com/"><%= image_tag("elementary/希平方-《看YouTube學英文》.png", title:"希平方-《看YouTube學英文》") %></a>
				<p>elementary/希平方-《看YouTube學英文》</p>
			</td>
			<td>
				<a href="http://www.hitutor.com.tw/word.php"><%= image_tag("elementary/生活英文辭彙.png", title:"生活英文辭彙") %></a>
				<p>生活英文辭彙</p>
			</td>
			<td>
				<a href="http://www.reverso.net/spell-checker/english-spelling-grammar/"><%= image_tag("elementary/線上文法列表.png", title:"線上文法列表") %></a>
				<p>線上文法列表</p>
			</td>
		</tr>

		<tr>
			<td>
				<a href="http://www.camdemy.com/folder/2177"><%= image_tag("elementary/背單字、學英文.png", title:"背單字、學英文") %></a>
				<p>背單字、學英文</p>
			</td>
			<td>
				<a href="http://www.camdemy.com/folder/3037"><%= image_tag("elementary/英文文法 - 用理解的就很簡單.png", title:"英文文法 - 用理解的就很簡單") %></a>
				<p>用理解的就很簡單</p>
			</td>
			<td>
				<a href="http://www.grammarfree.com.tw/tw/"><%= image_tag("elementary/英語動畫文法.png", title:"英語動畫文法") %></a>
				<p>英語動畫文法</p>
			</td>
			<td>
				<a href="http://www.hitutor.com.tw/free.php"><%= image_tag("elementary/英語學習免費資源.png", title:"英語學習免費資源") %></a>
				<p>英語學習免費資源</p>
			</td>
		</tr>
	</table>

</div>
