<div style="margin: 50px 150px 50px 150px">
	<h3>國文</h3>
		<hr style="border: 1px black solid;">
		<table>
			<tr>
				<td style="padding: 20px">
					<a href="http://163.26.9.13/noise/e-book-92/bbs.asp"><%= image_tag("elementary/標準字音查詢系統.png", border:"0", title:"標準字音查詢系統", width:"200px") %></a>
					<p style="margin-top: 10px; text-align:center;">標準字音查詢系統</p>
				</td>
				<td style="padding: 20px">
					<a href="http://priori.moe.gov.tw/index.php?mod=resource/index/content/material_ch"><%= image_tag("elementary/國民小學及國民中學補教教學資源平台.png", border:"0", title:"國民小學及國民中學補教教學資源平台", width:"200px", height:"150px") %></a>
					<p style="margin-top: 10px; text-align:center;">國民小學及國民中學補教教學資源平台</p>
				</td>
				<td style="padding: 20px">
					<a href="http://www.nani.com.tw/nani/elearn/"><%= image_tag("elementary/南e國小學習網.png", border:"0", title:"南e國小學習網",width:"200px", height:"150px") %></a>
					<p style="margin-top: 10px; text-align:center;">南e國小學習網</p>
				</td>
				<td style="padding: 20px">
					<a href="http://children.moc.gov.tw/home.php"><%= image_tag("elementary/文化部兒童文化館.png", border:"0", title:"文化部兒童文化館", width:"200px" , height:"150px") %></a>
					<p style="margin-top: 10px; text-align:center;">文化部兒童文化館</p>
				</td>
				<td style="padding: 20px">
					<a href="http://flipping-chinese.wikispaces.com"><%= image_tag("elementary/中學國文科學思達教學法平台.png", border:"0", title:"中學國文科學思達教學法平台", width:"200px", height:"150px") %></a>
					<p style="margin-top: 10px; text-align:center;">中學國文科學思達教學法平台</p>
				</td>
			</tr>

		</table>

		<h3>數學</h3>
			<hr style="border: 1px black solid;">
		<table>
			<tr>
				<td style="padding: 20px">
					<a href="http://www.liveism.com/"><%= image_tag("elementary/Live數學學習網.png", border:"0", title:"Live數學學習網", width:"200px", height:"150px") %></a>
					<p style="margin-top: 10px; text-align:center;">Live數學學習網</p>
				</td>
				<td style="padding: 20px">
					<a href="http://priori.moe.gov.tw/"><%= image_tag("elementary/國民小學及國民中學補救教學資源平台.png", border:"0", title:"國民小學及國民中學補教教學資源平台" ,width:"200px", height:"150px") %></a>
					<p style="margin-top: 10px; text-align:center;">國民小學及國民中學補救教學資源平台</p>
				</td>
				<td style="padding: 20px">
					<a href="http://priori.moe.gov.tw/index.php?mod=resource/index/content/material_math"><%= image_tag("elementary/均一教育平台.png", border:"0", title:"均一教育平台", width:"200px", height:"150px") %></a>
					<p style="margin-top: 10px; text-align:center;">均一教育平台</p>
				</td>
				<td style="padding: 20px">
					<a href="http://www.topmath.org/"><%= image_tag("elementary/小魔流教學資源網.png", border:"0", title:"小魔流教學資源網", width:"200px", height:"150px") %></a>
					<p style="margin-top: 10px; text-align:center;">小魔流教學資源網</p>
				</td>
				<td style="padding: 20px">
					<a href="http://www.mathland.idv.tw/"><%= image_tag("elementary/昌爸工作坊.png", border:"0", title:"昌爸工作坊", width:"200px", height:"150px") %></a>
					<p style="margin-top: 10px; text-align:center;">昌爸工作坊</p>
				</td>
			</tr>

			<tr>
				<td style="padding: 20px">
					<a href="http://www.powercam.cc/ch/1"><%= image_tag("elementary/發現美麗新世界-國中線上教學計畫.png", border:"0", title:"發現美麗新世界-國中線上教學計畫", width:"200px", height:"150px") %></a>
					<p style="margin-top: 10px; text-align:center;">發現美麗新世界-國中線上教學計畫</p>
				</td>
			</tr>
		</table>

		<h3>自然</h3>
			<hr style="border: 1px black solid;">
		<table>
			<tr>
				<td style="padding: 20px">
					<a href="http://www.bud.org.tw/"><%= image_tag("elementary/科學小芽子.png", border:"0", title:"科學小芽子", width:"200px", height:"150px") %></a>
					<p style="margin-top: 10px; text-align:center;">科學小芽子</p>
				</td>
				<td style="padding: 20px">
					<a href="http://web.pts.org.tw/~web02/nature/"><%= image_tag("elementary/自然公園.png", border:"0", title:"自然公園", width:"200px", height:"150px") %></a>
					<p style="margin-top: 10px; text-align:center;">自然公園</p>
				</td>
			</tr>
		</table>

		<h3>英語</h3>
			<hr style="border: 1px black solid;">
		<table>
			<tr>
				<td style="padding: 20px">
					<a href="http://bygosh.com/"><%= image_tag("elementary/byGosh.png", border:"0", title:"Essay Writing 101", width:"200px", height:"150px") %></a>
					<p style="margin-top: 10px; text-align:center;">byGosh</p>
				</td>
				<td style="padding: 20px">
					<a href="http://www.elllo.org/"><%= image_tag("elementary/elllo.png", border:"0", title:"Essay Writing 101", width:"200px", height:"150px") %></a>
					<p style="margin-top: 10px; text-align:center;">elllo</p>
				</td>
				<td style="padding: 20px">
					<a href="http://testprep.about.com/od/tipsfortesting/a/How_to_Write_an_Essay.htm"><%= image_tag("elementary/Essay Writing 101.png", border:"0", title:"Essay Writing 101", width:"200px", height:"150px") %></a>
					<p style="margin-top: 10px; text-align:center;">Essay Writing 101</p>
				</td>
				<td style="padding: 20px">
					<a href="http://chloeyachun.blogspot.tw/"><%= image_tag("elementary/lingua franca.png", border:"0", title:"lingua franca", width:"200px", height:"150px") %></a>
					<p style="margin-top: 10px; text-align:center;">lingua franca</p>
				</td>
				<td style="padding: 20px">
					<a href="http://www.storynory.com/"><%= image_tag("elementary/Storynory.png", border:"0", title:"Storynory", width:"200px", height:"150px") %></a>
					<p style="margin-top: 10px; text-align:center;">Storynory</p>
				</td>
			</tr>

			<tr>
				<td style="padding: 20px">
					<a href="http://priori.moe.gov.tw/index.php?mod=resource/index/content/material_en"><%= image_tag("elementary/國民小學及國民中學補救教學資源平台.png", border:"0", title:"國民小學及國民中學補救教學資源平台", width:"200px", height:"150px") %></a>
					<p style="margin-top: 10px; text-align:center;">國民小學及國民中學補救教學資源平台</p>
				</td>
				<td style="padding: 20px">
					<a href="http://som.twbbs.org/klee/notebook/"><%= image_tag("elementary/小笨霖的英語筆記本全集.png", border:"0", title:"小笨霖的英語筆記本全集", width:"200px", height:"150px") %></a>
					<p style="margin-top: 10px; text-align:center;">小笨霖的英語筆記本全集</p>
				</td>
				<td style="padding: 20px">
					<a href="http://www.hopenglish.com/"><%= image_tag("elementary/希平方-《看YouTube學英文》.png", border:"0", title:"希平方-《看YouTube學英文》", width:"200px", height:"150px") %></a>
					<p style="margin-top: 10px; text-align:center;">elementary/希平方-《看YouTube學英文》</p>
				</td>
				<td style="padding: 20px">
					<a href="http://www.hitutor.com.tw/word.php"><%= image_tag("elementary/生活英文辭彙.png", border:"0", title:"生活英文辭彙", width:"200px", height:"150px") %></a>
					<p style="margin-top: 10px; text-align:center;">生活英文辭彙</p>
				</td>
				<td style="padding: 20px">
					<a href="http://www.reverso.net/spell-checker/english-spelling-grammar/"><%= image_tag("elementary/線上文法列表.png", border:"0", title:"線上文法列表", width:"200px", height:"150px") %></a>
					<p style="margin-top: 10px; text-align:center;">線上文法列表</p>
				</td>
			</tr>

			<tr>
				<td style="padding: 20px">
					<a href="http://www.camdemy.com/folder/2177"><%= image_tag("elementary/背單字、學英文.png", border:"0", title:"背單字、學英文", width:"200px", height:"150px") %></a>
					<p style="margin-top: 10px; text-align:center;">背單字、學英文</p>
				</td>
				<td style="padding: 20px">
					<a href="http://www.camdemy.com/folder/3037"><%= image_tag("elementary/英文文法 - 用理解的就很簡單.png", border:"0", title:"英文文法 - 用理解的就很簡單", width:"200px", height:"150px") %></a>
					<p style="margin-top: 10px; text-align:center;">用理解的就很簡單</p>
				</td>
				<td style="padding: 20px">
					<a href="http://www.grammarfree.com.tw/tw/"><%= image_tag("elementary/英語動畫文法.png", border:"0", title:"英語動畫文法", width:"200px", height:"150px") %></a>
					<p style="margin-top: 10px; text-align:center;">英語動畫文法</p>
				</td>
				<td style="padding: 20px">
					<a href="http://www.hitutor.com.tw/free.php"><%= image_tag("elementary/英語學習免費資源.png", border:"0", title:"英語學習免費資源", width:"200px", height:"150px") %></a>
					<p style="margin-top: 10px; text-align:center;">英語學習免費資源</p>
				</td>
			</tr>
		</table>
	</div>
