<%= simple_form_for @article, url: topic_articles_path do |f| %>
  <div class="form-group">
    <%= f.input :author %>
    <%= f.input :title %>
    <%= f.input :content %>
  </div>
  <%= f.submit "Submit", class: "btn btn-primary", data: { disable_with: "Submitting..." } %>
<% end %>
