<article>
  <div class="well well-lg">
    <div class="content-image"><%= image_tag(@article.image.url(:content)) %></div>
    <div class="content-title">
      <h2><%= @article.title %></h2>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="article-info">
          <div class="group1 col-sm-6 col-md-6">
            作者：<%= @article.author %>
          </div>
          <div class="group2 col-sm-6 col-md-6">
            <span class="glyphicon glyphicon-pencil"></span> <%= link_to "#{@article.comments.count} Comments", anchor: "comment" %>
            <span class="glyphicon glyphicon-time"></span> <%= @article.created_at.localtime.strftime("%Y-%m-%d %H:%M:%S") %>
            <% if not current_user.nil? and current_user.admin? %>
              <%= link_to "修改文章", edit_topic_article_path(@article.topic_id, @article.id), :class => "btn btn-primary" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="container-fluid">
      <p><%= @article.content.html_safe %></p>
    </div>
  </div>
</article>
<article>
  <% if current_user.nil? %>
    <p>請先登入在留言</p>
  <% else %>
    <h2>新增留言</h2>
    <%= simple_form_for @comment do |f| %>
      <%= f.hidden_field :article_id %>
      <%= f.input :content, :label => false %>
    <% end %>
  <% end %>
  <h2>留言</h2>
  <a name="comment"></a>
  <% @comments.each do |c| %>
    <div class="well">
      <p><%= c.user.username %>說：</p>
      <p><%= c.content %></p>
    </div>
  <% end %>
</article>
