<div class="jumbotron">
	<div class="container">
		<h1>This is Serendipity !</h1>
		<p>For those who equip capability of creativity, exploration, problem solving, and life learning.</p>
		<a href="#">Learn More</a>
	</div>
</div>


<div class="neighborhood-guides">
	<div class="container">
		<h2>議題探索</h2>
		<p>隨意瀏覽嗎？來看看我們用心準備的要聞吧！</p>


		<div class="row">
			<div class="col-md-4">
				<div class="thumbnail">
					<img src="http://goo.gl/0sX3jq"/>
				</div>
				<div class="thumbnail">
					<img src="http://goo.gl/an2HXY"/>
				</div>
			</div>
			<div class="col-md-4">
				<div class="thumbnail">
					<img src="http://goo.gl/Av1pac"/>
				</div>
				<div class="thumbnail">
					<img src="http://goo.gl/vw43v1"/>
				</div>
			</div>
			<div class="col-md-4">
				<div class="thumbnail">
					<img src="http://goo.gl/0Kd7UO"/>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="learn-more">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<h3>為什麼要建立Serendipity</h3>
				<p>From apartments and rooms to treehouses and boats: stay in unique spaces in 192 countries.</p>
				<p><%= link_to 'Learn more >>', about_us_path(anchor: "why") %></p>
			</div>
			<div class="col-md-4">
				<h3>什麼是Serendipity</h3>
				<p>Renting out your unused space could pay your bills or fund your next vacation.</p>
				<p><%= link_to 'Learn more >>', about_us_path(anchor: "what") %></p>
			</div>
			<div class="col-md-4">
				<h3>Serendipity可以做什麼</h3>
				<p>From Verified ID to our worldwide customer support team, we've got your back.</p>
				<p><%= link_to 'Learn more >>', about_us_path(anchor: "how") %></p>
			</div>
			<div class="col-md-4">
				<h3>在Serendipity和誰互動</h3>
				<p>From Verified ID to our worldwide customer support team, we've got your back.</p>
				<p><%= link_to 'Learn more >>', about_us_path(anchor: "who") %></p>
			</div>
			<div class="col-md-4">
				<h3>獲得Serendipity之後</h3>
				<p>From Verified ID to our worldwide customer support team, we've got your back.</p>
				<p><%= link_to 'Learn more >>', about_us_path(anchor: "after") %></p>
			</div>
			<div class="col-md-4">
				<h3>Serendipity的背後</h3>
				<p>From Verified ID to our worldwide customer support team, we've got your back.</p>
				<p><%= link_to 'Learn more >>', about_us_path(anchor: "back") %></p>
			</div>
		</div>
	</div>
</div>
