<div class="jumbotron">
	<div class="container">
		<h1>This is Serendipity !</h1>
		<p>For those who equip capability of creativity, exploration, problem solving, and life learning.</p>
		<a href="#">Learn More</a>
	</div>
</div>

<div class="neighborhood-guides">
	<div class="container">
		<h2>議題探索</h2>
		<p>隨意瀏覽嗎？來看看我們用心準備的要聞吧！</p>


		<div id="jssor_1" style="position: relative; margin: 0 auto; top: 0px; left: 0px; width: 600px; height: 300px; overflow: hidden; visibility: hidden;">
      <!-- Loading Screen -->
      <div data-u="loading" style="position: absolute; top: 0px; left: 0px;">
        <div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;"></div>
        <div style="position:absolute;display:block;background:url('<%= asset_path('loading.gif') %>') no-repeat center center;top:0px;left:0px;width:100%;height:100%;"></div>
      </div>
      <div data-u="slides" style="cursor: default; position: relative; top: 0px; left: 0px; width: 600px; height: 300px; overflow: hidden;">
            <!--<div style="display: none;">
                <img data-u="image" src="img/01.jpg" />
                <div data-u="thumb">Do you notice it is draggable by mouse/finger?</div>
            </div>-->
        <% (1..2).each do |cnt| %>
          <% a = Topic.find(cnt).articles.last %>
            <div style="display: none;">
            	<%= link_to topic_article_path(a.topic_id, a.id) do %>
               <%= image_tag(a.image.url, :'data-u' => 'image') %>
              <% end %>
              <div data-u="thumb"><%= a.title %></div>
            </div>
          <% end %>
        </div>
        <!-- Thumbnail Navigator -->
        <div data-u="thumbnavigator" class="jssort09-600-45" style="position:absolute;bottom:0px;left:0px;width:600px;height:45px;">
        <div style="position: absolute; top: 0; left: 0; width: 100%; height:100%; background-color: #000; filter:alpha(opacity=40.0); opacity:0.4;"></div>
        <!-- Thumbnail Item Skin Begin -->
        <div data-u="slides" style="cursor: default;">
          <div data-u="prototype" class="p">
            <div data-u="thumbnailtemplate" class="t"></div>
          </div>
        </div>
        <!-- Thumbnail Item Skin End -->
      </div>
      <!-- Bullet Navigator -->
      <div data-u="navigator" class="jssorb01" style="bottom:16px;right:10px;">
      	<div data-u="prototype" style="width:12px;height:12px;"></div>
      </div>
      <!-- Arrow Navigator -->
      <span data-u="arrowleft" class="jssora05l" style="top:123px;left:8px;width:40px;height:40px;" data-autocenter="2"></span>
      <span data-u="arrowright" class="jssora05r" style="top:123px;right:8px;width:40px;height:40px;" data-autocenter="2"></span>
		</div>
	</div>
</div>


<div class="learn-more">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<h3>為什麼要建立Serendipity</h3>
				<p>From apartments and rooms to treehouses and boats: stay in unique spaces in 192 countries.</p>
				<p><%= link_to 'Learn more >>', about_us_path(anchor: "why") %></p>
			</div>
			<div class="col-md-4">
				<h3>什麼是Serendipity</h3>
				<p>Renting out your unused space could pay your bills or fund your next vacation.</p>
				<p><%= link_to 'Learn more >>', about_us_path(anchor: "what") %></p>
			</div>
			<div class="col-md-4">
				<h3>Serendipity可以做什麼</h3>
				<p>From Verified ID to our worldwide customer support team, we've got your back.</p>
				<p><%= link_to 'Learn more >>', about_us_path(anchor: "how") %></p>
			</div>
			<div class="col-md-4">
				<h3>在Serendipity和誰互動</h3>
				<p>From Verified ID to our worldwide customer support team, we've got your back.</p>
				<p><%= link_to 'Learn more >>', about_us_path(anchor: "who") %></p>
			</div>
			<div class="col-md-4">
				<h3>獲得Serendipity之後</h3>
				<p>From Verified ID to our worldwide customer support team, we've got your back.</p>
				<p><%= link_to 'Learn more >>', about_us_path(anchor: "after") %></p>
			</div>
			<div class="col-md-4">
				<h3>Serendipity的背後</h3>
				<p>From Verified ID to our worldwide customer support team, we've got your back.</p>
				<p><%= link_to 'Learn more >>', about_us_path(anchor: "back") %></p>
			</div>
		</div>
	</div>
</div>
