<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navber-inner">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="<%= root_path %>">
					<p><em>Serendipity</em></p>
				</a>
			</div>

			<div class="collapse navbar-collapse">

				<ul class="nav navbar-nav">
					<li><%= link_to "關於我們", about_us_path %></li>
					<li class="dropdown">
		              <a href="#" class="dropdown-toggle" data-toggle="dropdown">課程資源 <b class="caret"></b></a>
		              <ul class="dropdown-menu">
		                <li><%= link_to "國小", course_resources_path(:level => 'Elementary') %></li>
		                <li><%= link_to "國中", course_resources_path(:level => 'JuniorHigh') %></li>
		                <li><%= link_to "高中", course_resources_path(:level => 'SeniorHigh') %></li>
		              </ul>
		            </li>
		            <li><%= link_to "議題探索", "#" %></li>
		            <li><%= link_to "延伸學習", "#" %></li>
		            <li><%= link_to "討論區", "https://groups.google.com/forum/#!forum/serendipitycomment", :target=> "_blank" %></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					 <% if user_signed_in? %>
					 Logged in as <strong><%= current_user.email %></strong>.
					<li><%= link_to '編輯資料', edit_user_registration_path, :class => 'glyphicon glyphicon-cog' %>  |
  			 	<%= link_to "登出", destroy_user_session_path, method: :delete, :class => 'lyphicon glyphicon-log-out'  %>
					<% else %>
  				<%= link_to "註冊", new_user_registration_path, :class => 'glyphicon glyphicon-user'  %> |
  				<%= link_to "登入", new_user_session_path, :class => 'glyphicon glyphicon-log-in'  %>
					<% end %>
					</li>
				</ul>

			</div>
			<!-- /.collapse .navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</div>
	<!-- /.navbar-inner -->
</div>
