<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navber-inner">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="<%= root_path %>">
					<p><em>Serendipity</em></p>
				</a>
			</div>
			
			<div class="collapse navbar-collapse">
				
				<ul class="nav navbar-nav">
					<li><%= link_to "關於我們", about_us_path %></li>
					<li class="dropdown">
		              <a href="#" class="dropdown-toggle" data-toggle="dropdown">課程資源 <b class="caret"></b></a>
		              <ul class="dropdown-menu">
		                <li><%= link_to "國小", course_resources_path(:level => 'Elementary') %></li>
		                <li><%= link_to "國中", course_resources_path(:level => 'JuniorHigh') %></li>
		                <li><%= link_to "高中", course_resources_path(:level => 'SeniorHigh') %></li>
		              </ul>
		            </li>
		            <li><%= link_to "議題探索", "#" %></li>
		            <li><%= link_to "延伸學習", "#" %></li>
		            <li><%= link_to "討論區", "https://groups.google.com/forum/#!forum/serendipitycomment", :target=> "_blank" %></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#"><span class="glyphicon glyphicon-user"></span> 註冊</a></li>
					<li><a href="#"><span class="glyphicon glyphicon-log-in"></span> 登入</a></li>
					<li><a href="#"><span class="glyphicon glyphicon-cog"></span> 網站管理</a></li>
				</ul>
				
			</div>
			<!-- /.collapse .navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</div>
	<!-- /.navbar-inner -->
</div>





<!--

<div class="navbar">
	<div class="navbar-inner">
		<div class="container">
			<div class="nav">
				<ul class="pull-left">
					<li>
						<%= link_to root_path do %>
							<font size="22px">Serendipity</font>
						<% end %>
					</li>
					<li class="active">
						<%= link_to about_us_path do %>
							關於我們
						<% end %>
					</li>
					<li class="dropdown" id="accountmenu">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">課程資源</a><b class="caret"></b>
						<ul class="dropdown-menu">
							<li>
								<%= link_to '國小', course_resources_path(:level => "Elementary") %>
							</li>
							<li class="divider"></li>
							<li>
								<%= link_to '國中', course_resources_path(:level => "JuniorHigh") %>
							</li>
							<li class="divider"></li>
							<li>
								<%= link_to '高中', course_resources_path(:level => "SeniorHigh") %>
							</li>
						</ul>
					</li>
					<li class="active"><a href="../topic/topic.html">議題探索</a></li>
					<li class="active"><a href="#">延伸學習</a></li>
					<li class="active"><a href="https://groups.google.com/forum/#!forum/serendipitycomment" target="_blank">討論區</a></li>
				</ul>
				<ul class="pull-right">
					<li>&nbsp;&nbsp;</li>
					<li><a href="../register/register.html">註冊</a></li>
					<li><a href="../login/login.html">登入</a></li>
					<li><a href="#">網站管理</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
    	$(document).ready(function () {
            $('.dropdown-toggle').dropdown();
        });
</script>-->
