<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Serendipity</title>
  <link rel="shortcut icon" type="image/x-icon" href="https://upload.wikimedia.org/wikipedia/zh/8/84/Wulin.gif">
  <link rel="stylesheet" type="text/css" href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/shift.css" />

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body style="background-color:#e9eaed;">
  <%= render "common/navbar" %>
  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>
  <div id="content">
	<%= yield %>
  </div>
</body>
</html>
